[2015-11-23 15:39] tfuda opened #10 "ApexUnit is unable to distinguish test class names by their namespace."
We've got a rather large code-base with about 100 test classes. This code is part of a managed package. The code also depends on other managed packages, with their own package namespace. So, our development environments contain both un-namespaced Apex test classes that are part of the package we're developing, plus namespaced test classes that are part of managed packages that are installed in the

[2015-11-23 17:15] tfuda commented on #10
I'm thinking that one possible way to solve this would be to add a command line option that would allow you to specify a comma separated list of package namespaces to exclude. So, in my scenario, I would exclude "PackageA" test classes during execution.

[2015-11-23 20:00] 13Rise opened #11 "Connection exception brings testrun down"
I startet a run with about 200 testclasses, after 134 the run stops with the following exception.
Total tests executed 134 , Remaining tests 66

[com.sforce.cd.apexUnit.ApexUnitRunner.main()] ERROR com.sforce.cd.apexUnit.ApexUnitUtils - Connection exception encountered while executing query :Select Id, ApexClassId, ApexClass.Name, ExtendedStatus, ParentJobId, Status, SystemModstamp, CreatedDate Fr

[2015-11-23 20:02] 13Rise opened #12 "Error with all test classes wildcard"
One more question is it possible to run all apex testclasses and get an report for all apex classes ?
maybe it would be better to switch to an SOSL Query for dynamic getting all Testclasses
FIND {@IsTest} IN ALL FIELDS RETURNING ApexClass

It tried this with some errors:
-regex.for.selecting.test.classes.to.execute *
-regex.for.selecting.source.classes.for.code.coverage.computation *

[com.sforce.

[2015-11-24 10:14] 13Rise opened #13 "Code coverage metrics not computed if one regex is invalid"
There is no Report created if there is no result for one of the given regex.
Maybe you could skip this entries ?

[com.sforce.cd.apexUnit.ApexUnitRunner.main()] INFO com.sforce.cd.apexUnit.client.utils.ApexClassFetcherUtils - Using regex(es): YSL_*,SICtrl_*,SC*,A*,ECOM*,P*,T* to fetch apex classes
[com.sforce.cd.apexUnit.ApexUnitRunner.main()] INFO com.sforce.cd.apexUnit.client.utils.ApexClassFetc

[2015-12-04 20:23] adarsh-ramakrishna-sfdc commented on #13
Hello @13Rise ,

From the current logs, I can conclude that No records were returned in the response object while computing code coverage (See Line 180, processJSONResponseAndConstructCodeCoverageBeans() in com.sforce.cd.apexUnit.client.codeCoverage.CodeCoverageComputer.java ). Looks like the result(JSON response from the Tooling API call) returned was faulty. Empty result based on regex is highly

[2015-12-08 21:36] adarsh-ramakrishna-sfdc commented on #11
Hello @13Rise
1. What is the frequency of occurrence of this issue?
2. Does it always happen after the execution of Test #134 ?
3. How was the performance of the org when the exception was thrown? Was the env slow or unreachable? Can you please confirm?

Thanks,
Adarsh

[2015-12-08 23:00] 13Rise commented on #12
we want to use your tool for our continuous integration process.
In this process we want to run testdeployments, realdeployments, static code analysis with Sonar Qube and testclass runs with code coverage report.
Our missing part is only the testclass execution with code coverage report.

On the customer Org we have 508 Testclasses and a lot more normal classes.

Here is the debug log with the lat

[2015-12-08 23:00] 13Rise commented on #12
we want to use your tool for our continuous integration process.
In this process we want to run testdeployments, realdeployments, static code analysis with Sonar Qube and testclass runs with code coverage report.
Our missing part is only the testclass execution with code coverage report.

On the customer Org we have 508 Testclasses and a lot more normal classes.

Here is the debug log with the lat

[2015-12-08 23:01] 13Rise commented on #12
Logback.xml

<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%d{HH:mm:ss} %-5level %logger{36} - %msg%n</Pattern>
    </layout>
  </appender>

	<logger name="com.sforce.cd.apexUnit" level="DEBUG"/>

  <root level="DEBUG">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>

[2015-12-09 19:36] adarsh-ramakrishna-sfdc commented on #10
Hi @tfuda ,
Thanks for reaching out. We will look into the issue. Currently the tool picks up only one test class and namespace was not considered. We will look to make changes to facilitate this request.

Thanks,
Adarsh

[2015-12-09 22:18] vamshi-sfdc commented on #10
This is an enhancement request that was not under the initial scope

[2015-12-10 12:18] tfuda commented on #10
Perhaps a more simple solution would be to confine the tests to those test classes in the org's default namespace. Right now it appears that the code does something like this [SELECT * FROM ApexClass WHERE Name = :nameFromManifest], without considering ApexClass.NamespacePrefix. It seems to me that the most common use case for ApexUnit is to run your local unit tests (those in the org's default na

[2016-01-08 15:12] tfuda opened #16 "Intermittent error while attempting to sort code coverage beans"
I'm occasionally experiencing errors at the point at which code coverage beans are sorted in ascending order of coverage percentage, prior to being written to the report file. Here's an example of the error:
[code]

I believe this error is due to the fact that the ApexClassCodeCoverageBean.compareTo method is implemented as follows:
[code]

Here is an excerpt from the Javadocs for the compareTo me

[2016-01-08 16:51] tfuda commented on #11
@adarsh-ramakrishna-sfdc, @13Rise - I too am experiencing this error. The strange thing however, is that I am ONLY seeing it when running tests in a Developer Edition org on NA7. I am able to run the same suite of tests against the same source files in Developer Edition orgs on NA14 and NA16 without encountering this error. It happens EVERY time I run against my NA7 org. The org is not particularl

[2016-01-14 19:17] pmedapuram commented on #16
I agree @tfuda , Thank you for the PR.

[2016-01-14 19:27] #16 closed

[2016-01-14 19:34] tfuda opened #19 "Compilation error caused by implicit type conversion from String to int"
When I do a clean and compile operation, I'm getting a couple of compilation errors:

[code]

I believe the type of proxyPort property in CommandLineArguments.java should be changed from a String to an Integer, because the value for the proxy port argument passed to the ConnectionConfig.setProxy method is expected to be an int, and String cannot be implicitly converted to int.

[2016-01-16 01:12] adarsh-ramakrishna-sfdc commented on #19
Thanks @tfuda
I have recorded my review comments in the PR #20
@vamshi-sfdc will take a look at it

[2016-01-16 01:24] #19 closed

[2016-01-19 02:00] adarsh-ramakrishna-sfdc commented on #11
@13Rise @tfuda

Possible causes for ConnectionException :
1. Session time out : If a transaction takes too much of time
2. Loss in connectivity between Platform and client (Internet works fine but the issue is between the 2 end points)
3. Connection drop at client end while ApexUnit is being executed (like internet error)

Description of the feature we would like to build in :
Retry mechanism - pr

[2016-01-20 11:40] tfuda commented on #11
So, I ran my test suite under the debugger to try and some additional information about the error. The actual exception returned is an instance of UnexpectedErrorFault. The exceptionMessage property contained the following:
[code]
Here's the full stack trace:
[code]
So, it does seem like in my case, at least, it is perhaps condition 1 (session timeout). I suspect maybe my old NA7 org has a shorter

[2016-01-20 19:10] tfuda opened #21 "Implement true "regex" support."
Currently the two options -regex.for.selecting.source.classes.for.code.coverage.computation and -regex.for.selecting.test.classes.to.execute can be used to specify a comma separated list of patterns for selecting classes. The patterns support simple wildcard substitution and are converted into SOQL LIKE clauses. For example the pattern *Test* would be converted into WHERE Name LIKE '%Test%'. This

[2016-01-20 19:28] pmedapuram commented on #21
[Here](https://github.com/forcedotcom/ApexUnit/pull/14) (refer to the comment at the bottom) is the reference to the use case provided by @tfuda .

[2016-01-20 19:32] tfuda opened #22 "Exclude test classes from code coverage computations"
Currently, if you use the -regex.for.selecting.source.classes.for.code.coverage.computation with a pattern of *, it will pull in ALL Apex classes within your default namespace and get the code coverage metrics for them. This includes Apex classes that are annotated with the "IsTest" annotation. The wildcard matching is implemented via a SOQL query against the ApexClass table with a LIKE clause, us

[2016-01-20 19:39] pmedapuram commented on #22
@tfuda Thank you for reporting this issue.

I agree that computing code coverage for class that are annotated as *IsTest* is not required. We will get back to you on this feature.

[2016-01-22 18:40] pmedapuram commented on #10
The issue is resolved in https://github.com/forcedotcom/ApexUnit/pull/18
All classes by default are resolved to the default namespace.

[2016-01-22 18:40] #10 closed

[2016-01-22 19:59] pmedapuram opened #23 "Provide the ability to specify the namespace along with the class name"

[2016-02-01 23:08] pmedapuram commented on #12
@13Rise  Going through the community forums, this looks like an error in the Class ID type. Is this still an error?

If you think there is no Class ID type issue, I would like to reproduce this problem.

I am also thinking of ways to add better error reporting to the tool to show the test class that is having this problem. Let me know your thoughts.

[2016-02-03 22:35] leboff commented on #12
@pmedapuram the issue is that the fetchApexClassesBasedOnRegex would retrieve both ApexClasses and ApexTriggers if you supplied the "*" wild card and I'm assuming try to execute the triggers as tests (the id from the error message starts with "01q" so its a trigger as opposed to "01p" for classes).  Hopefully this pull request should resolve it #24

[2016-02-04 09:18] 13Rise commented on #12
Hi Bryan,

that make sense, i will try if the branch is merged.

bye
marian

2016-02-03 23:36 GMT+01:00 Bryan Leboff <notifications@github.com>:

[2016-02-19 01:19] focadizUCSF opened #28 "Problem running test"
Hi, we are trying to run the example you provided in the README file as follows:

`mvn compile exec:java -Dexec.mainClass="com.sforce.cd.apexUnit.ApexUnitRunner" -Dexec.args="-org.login.url ‘https://medctr-ucsf--stage.cs8.my.salesforce.com’ -org.username user@test.com -org.password xXxXxXxX -org.client.id xXxXxXxXxX -org.client.secret xXxXxXxXxXxX -org.wide.code.coverage.threshold 50 -team.code.co

[2016-02-19 11:05] tfuda commented on #28
Just a suggestion... no idea if it will work, but try https://cs8.salesforce.com in place of https://your-domain.cs8.my.salesforce.com. And does the cs8 really belong there? In other orgs where I have "my domain" activated, the URLs look like https://my-domain.my.salesforce.com. The pod identifier isn't part of the URL. If my first suggestion doesn't work, try https://your-domain.my.salesforce.com

[2016-02-20 05:00] focadizUCSF commented on #28
I changed the hostname as you said and now I got the following exception:

`[INFO] Scanning for projects...
[INFO]
[INFO] ------------------------------------------------------------------------
[INFO] Building ApexUnit 2.3.1.0
[INFO] ------------------------------------------------------------------------
[WARNING] The artifact org.apache.commons:commons-io:jar:1.3.2 has been relocated to commons

[2016-02-20 05:19] adarsh-ramakrishna-sfdc commented on #28
@focadizUCSF The error indicates that the OAuth setup is incorrect. Please try out the curl command  : curl -v <Salesforce_Org_URL>/services/oauth2/token -d "grant_type=password" -d "client_id=****************" -d "client_secret= **************" -d "username=***********" -d "password= *******" as mentioned in the README file if you are able to get Access token successfully. If you do get issues ,

[2016-02-22 19:05] focadizUCSF commented on #28
Hi @adarsh-ramakrishna-sfdc and @tfuda, thanks for your support and help, I truly appreciate it.

After we ran curl we were able to get the access token and after we ran maven we saw the test started running in Salesforce, however, looks like something breaks in the middle because we don't get response back from Salesforce.

In the stacktrace I attached you can see some entries like:

`INFO com.sf

[2016-02-22 19:22] adarsh-ramakrishna-sfdc commented on #28
@focadizUCSF  This is interesting .. Because, this step in the execution should proceed if the curl command is returning access token for you. Can you please confirm if you are using the exact same combination of username, password, client id and client secret while executing the ApexUnit ? Once you confirm, do you mind sharing the command you are using to execute the tool? Of course, please mask

[2016-02-23 00:11] focadizUCSF commented on #28
Hello again,

This is what I got after running curl:

`curl -v https://cs8.salesforce.com/services/oauth2/token -d "grant_type=password" -d "client_id=********************umvQreBt69XZTWUKlaWqHsoIeNKJQUYRdIv4Oji..0EPbYqjDe.dJneSfc.UbsSs1" -d "client_secret=**********815327780" -d "username=user@domain" -d "password= Pa55word"`
`*   Trying 96.43.144.48...`
`* Connected to cs8.salesforce.com (96.43.1

[2016-02-23 00:53] adarsh-ramakrishna-sfdc commented on #28
Yes.. That might be the reason; not sure though.. Can you try providing the url that you got from the curl command, for executing the ApexUnit? I assume that you are trying both the operations: executing curl command and executing ApexUnit from the same system and network configuration; just making sure that there is no firewall/reachability issue..
A recap.. You are able to run the tests. But the

[2016-02-23 02:34] focadizUCSF commented on #28
When I run curl and mvn using my custom domain I get the following messages:

`WARNING: Cookie rejected: "$Version=0; BrowserId=zJfWcijETsS6_pO-8Y0ZYA; $Path=/; $Domain=.salesforce.com". Domain attribute ".salesforce.com" violates RFC 2109: host minus domain may not contain any dots`
`Feb 22, 2016 6:28:48 PM org.apache.commons.httpclient.HttpMethodBase getResponseBody`
`WARNING: Going to buffer re

[2016-02-23 02:53] focadizUCSF commented on #28
Since the command runs using arguments that are denoted by `-` I think that any dash in the url might be breaking the value in a new argument.

Is that true?

[2016-02-23 21:58] adarsh-ramakrishna-sfdc commented on #28
@focadizUCSF  Having - in the command wouldn't cause any problem. Space is used as delimiter . I verified the same by providing a - in command line parameters "-regex.for.selecting.source.classes.for.code.coverage.computation Sample,Mobile,-Wrapper" ; it didnt cause any issues for me

[2016-02-24 08:06] milters commented on #28
Hi Adarsh, thank you for your prompt responses. I'm working with Felipe to roll it out.

We were also wondering if the message: WARNING: Going to buffer response body of large or unknown size. Using getResponseBodyAsStream instead is recommended. might be related to the root cause.

[2016-02-24 20:09] adarsh-ramakrishna-sfdc commented on #28
Hello @milters
We get that warning message during successful runs too. Here is the console output of my run :
_Feb 23, 2016 1:51:20 PM org.apache.commons.httpclient.HttpMethodBase getResponseBody
WARNING: Going to buffer response body of large or unknown size. Using getResponseBodyAsStream instead is recommended.
[com.sforce.cd.apexUnit.ApexUnitRunner.main()] INFO com.sforce.cd.apexUnit.client.cod

[2016-03-02 00:11] TedHusted opened #29 "Exception thrown while trying to create Partner Connection!!!Failed to get next element"
[Moving from email thread to an issue]

I'm having a spot of bother getting ApexUnit up and running.

Any insight you can provide would be appreciated because I'd very much like to get this tool up and running for us. We develop three managed packages for diverse customers with complex implementations, and being sure all the test pass with optimal coverage is crucial for us.

I'm able to connect w

[2016-03-02 00:29] TedHusted commented on #29
Changing the login url to
-org.login.url https://login.salesforce.com

did help, though I'm up against another error now.

----

[com.sforce.cd.apexUnit.ApexUnitRunner.main()] INFO com.sforce.cd.apexUnit.client.utils.ApexClassFetcherUtils - Using regex(es): ActionTest to fetch apex classes
[com.sforce.cd.apexUnit.ApexUnitRunner.main()] INFO com.sforce.cd.apexUnit.client.utils.ApexClassFetcherUtils

[2016-03-02 00:34] tfuda commented on #29
Hi Ted,

I opened an issue about this awhile back and a solution was implemented that should allow you to specify the namespace as part of your regex. If you namespace is NC, then you should be able the regex as NC.ActionTest*. Please see the commentary on this pull request: https://github.com/forcedotcom/ApexUnit/pull/14 for some background.

[2016-03-02 01:34] TedHusted commented on #29
Hmmm, that's what I'm doing with a fresh checkout.

----

/opt/apache-maven/bin/mvn compile exec:java -Dexec.mainClass="com.sforce.cd.apexUnit.ApexUnitRunner"  -Dexec.args="-org.login.url  https://login.salesforce.com  -org.client.id 3MVG98XJQQAccJQcC7AAOFrxPf5wo7oCP1h83CjrbS9dKlmFDx_e7xSB5XaN7vBR9IO2uPQID_9LnisG6HRmg  -org.client.secret 1103520132783667035 -org.username admin@nc.branch -org.passw

[2016-03-02 01:55] tfuda commented on #29
Hmm... that certainly looks like the correct pattern. I would have expected that to work. I can try the pattern with a namespace prefix in one of my packager orgs tommorrow to see if I can get it to work.

[2016-03-02 12:36] tfuda commented on #29
Ted, I concur with your findings. This appears to be broken right now. It looks like the code that splits the "regex" on . is absent from ApexClassFetcherUtils.fetchApexClassesBasedOnRegex.

[code]

Notice that in the first few lines of this method, it set the "namespace" variable to null, and then calls QueryConstructor.generateQueryToFetchApexClassesBasedOnRegex, passing it a null value for the

[2016-03-02 12:45] tfuda opened #30 "Processing of regex with namespace is not working right."
I'm seeing that the use of a regexes that looks like NAMESPACE.CLASSNAME is not working in a namespaced org. I have an org with the namespace TomPackage. I define a test class regex that looks like this "TomPackage.fflib_*Test". When I debug the code, I see this get converted into the following SOQL query:
[code]
I debugged this and determined that ApexClassFetcherUtils.fetchApexClassesBasedOnRege

[2016-03-02 13:22] tfuda commented on #29
@TedHusted I filed an issue against this namespace issue and submitted a pull request: https://github.com/forcedotcom/ApexUnit/pull/31

[2016-03-02 18:22] pmedapuram commented on #29
@tfuda  Yes, there was a plan to implement the feature to test ApexClasses that belong to a Namespace prefix. However, it was not implemented because of some of the additional discussion that was to happen here. A quick fix was instead implemented to always look for the default namespace. (to unblock @tfuda)

@TedHusted  We certainly have this in our backlog to add this feature (https://github.com

[2016-03-02 21:50] tfuda commented on #29
@pmedapuram My pull request only addresses the regex story. I did not look at the manifest file handling.

[2016-03-03 00:05] TedHusted commented on #29
I switched orgs, and I've gotten back my first ApexUnitReport.html -- sweet!

[2016-03-03 00:05] #29 closed

[2016-03-03 00:59] TedHusted opened #32 "Detailed Test Report - Missing?"
I've made my first successful run of ApexUnit, and I'm eager to make it part of our continuous delivery and continuous support processes. Thank you so much.

The GitHub page says

----

On successful completion - the command should give you build success and it should generate two report files - ApexUnitReport.xml (This is the test report in JUnit format) and Report/ApexUnitReport.html (This is th

[2016-03-03 02:14] adarsh-ramakrishna-sfdc commented on #32
Hi @TedHusted
Congrats on your successful ApexUnit run!

1.

 link points to the ApexUnitReport.xml. You would find this in the file: https://github.com/forcedotcom/ApexUnit/blob/master/src/main/java/com/sforce/cd/apexUnit/report/Apex
CodeCoverageReportGenerator.java
[code]
The intent of the link is: if a CI engine like jenkins is used, you get to navigate to the test report from the code coverage

[2016-03-03 02:52] TedHusted commented on #32
Thank you for the prompt response.

My system is only showing the two files

----

/ApexUnitReport.xml
/Reports/ApexUnitReport.html

----

ls
ApexUnitReport.xml  pom.xml    Report        Slide Deck.pdf  target
license.txt         README.md  SFDC_CLA.pdf  src

ls Report
ApexUnitReport.html

----

I'm not seeing a code coverage report, and I'm not making the connection between linking to  "ApexUnitR

[2016-03-03 11:08] tfuda commented on #32
@TedHusted - Please take a look at this screenshot of my Eclipse project for running ApexUnit: http://screencast.com/t/pKR0pObV. You can see that ApexUnitReport.html is created in a Report folder off of the project root folder, whereas the ApexUnitReport.xml file is created directly in the project root.

[2016-03-03 13:59] TedHusted commented on #32
Thank you, Thomas. I appreciate the response.

In your project, what presents when you click the "Detailed Test Report"
link?

In my report, the link is hard coded to the XML file (literally,
"/opt/ApexUnit/ApexUnitReport.xml"), which doesn't seem correct.

-Ted.

-Ted

On Thu, Mar 3, 2016 at 6:08 AM, Thomas Fuda <notifications@github.com>
wrote:

[2016-03-03 14:14] tfuda commented on #32
In my case, the "Detailed Test Report" link is the absolute file URL for
the XML
file: file:///C:/Users/tom/Development/Maven/git/ApexUnit/ApexUnitReport.xml.
When I click the link, it opens the XML document in the web browser. I
don't really think the ApexUnit developers have considered your use case
for third parties that need to see your test results without having access
to the CI server. I th

[2016-03-03 14:47] TedHusted commented on #32
Besides wanting to stand up the reports for dozens of orgs, my other problem is that for one of our critical development orgs, the Apex tests report false negatives if run asynchronously, and so we are compelled to run them synchronously, which takes literally 90 to 120 minutes.

I don't want to tie up one of our TeamCity build agents for that long, so my intention is to run it as a background tas

[2016-03-03 15:12] tfuda commented on #32
I feel your pain. Dave Esposito and I decided to look at ApexUnit for the
exact same reason as you. Our builds were taking up to about 50 minutes.
Most of that time spent executing 500+ unit tests. We also hit intermittent
unit test failures when the unit tests are run asynchronously, due to
occasional record locking errors. So, what we did here is fork the project
and implement our own retry mech

[2016-03-03 19:05] pmedapuram commented on #32
@tfuda and @TedHusted
This feedback is great. We are constantly working towards getting ApexUnit smarter and flexible to address the common problems.

I see that being able to run Apex Test classes asynchronously without any issues, is an important aspect of this tool. We are planning on addressing such issues faced with ApexUnit.

Regarding https://github.com/forcedotcom/ApexUnit/issues/22 , defi

[2016-03-03 19:12] tfuda commented on #32
I doubt that you will ever get the Apex classes to run asychronously,
without failure, 100% of the time, (I think its the nature of the platform,
and the unit tests themselves, rather than an ApexUnit issue) so I think
it's more important to try and work some kind of re-try mechanism in the
framework.

On Thu, Mar 3, 2016 at 2:05 PM, Pavan Tej Medapuram <
notifications@github.com> wrote:

--
Tom F

[2016-03-03 19:17] pmedapuram commented on #32
Yes @tfuda , We may have to build-in some a mechanism to take care of these failures. Will share the details with you once we have a concrete plan. We could work together on this.

[2016-03-03 19:27] adarsh-ramakrishna-sfdc commented on #32
@tfuda Retry mechanism is on its way as part of the fix for  #11 .
@TedHusted Yes, currently the "Detailed Test Report" link points to the ApexUnit.xml(JUnit style test report) and considers the absolute path of the file in the project setup. I like the portable link idea..

You did share in the first post that the tool threw error in spite of executing ApexUnit, Can you please share the error log

[2016-03-07 14:00] TedHusted opened #35 "Support Apex Test Suites"
Since Apex Tests can now be organized into Test Suites

* https://developer.salesforce.com/releases/release/Spring_%252716/test+suites

would it be possible to specify a test suite as a third alternative, along with manifests || wildcards?

[2016-03-07 17:34] TedHusted commented on #32
@tfuda>  feeds the failed tests back into ApexUnit for a second pass

Does this imply that ApexUnit can gather the coverage/outcome from tests that weren't run in the current process.

Could we build/run the tests separately and then run ApexUnit afterwards?

[2016-03-09 00:27] adarsh-ramakrishna-sfdc commented on #35
@TedHusted Great suggestion. We have this in our roadmap already. We are prioritizing addressing issues over to new features as of now. We will get to this request soon. We definitely encourage community to actively participate in the development activities.

[2016-03-09 00:32] adarsh-ramakrishna-sfdc commented on #32
@TedHusted Can you please re-iterate your request here? Looking at all the posts/comments here, it seems like you were not clear on "Detailed Test Report" link. Now that various participants have provided their answers, do you need anything else from this issue record? Are you looking for a portable link to the  test report? Please clarify,

[2016-03-09 00:35] adarsh-ramakrishna-sfdc commented on #28
@focadizUCSF @milters Any update on this issue? We haven't heard back from you guys since a couple of weeks..

[2016-03-09 00:38] adarsh-ramakrishna-sfdc commented on #13
@13Rise Can you please share your recent findings? Are you still facing this issue? Please let us know.

[2016-03-09 00:40] adarsh-ramakrishna-sfdc commented on #12
PR #24 has been merged which resolves this issue. Closing the issue as fixed.

[2016-03-09 00:40] #12 closed

[2016-03-09 01:10] adarsh-ramakrishna-sfdc commented on #11
Thanks @tfuda . Can you please try to increase the "Timeout Value" in your Session settings and try executing the tool again? https://help.salesforce.com/htviewhelpdoc?id=admin_sessions.htm
Since I dont have an env on which this issue is reproducible, I would need your help to try increasing timeout value and see if it resolves the issue.
On a side note, I am also incorporating "SessionRenewer" fe

[2016-03-09 10:05] 13Rise commented on #13
Hi Adarsh,

there is still

[com.sforce.cd.apexUnit.ApexUnitRunner.main()] INFO
com.sforce.cd.apexUnit.client.utils.ApexClassFetcherUtils - Using
regex(es): * to fetch apex classes
[com.sforce.cd.apexUnit.ApexUnitRunner.main()] INFO
com.sforce.cd.apexUnit.client.utils.ApexClassFetcherUtils - Using regex:
"*" to fetch apex classes
Mar 09, 2016 8:24:43 AM org.apache.commons.httpclient.HttpMethodBase

[2016-03-09 10:08] 13Rise opened #36 "Testclass run with more then 170 Testclasses"
I will get the following error with the last testclass run:

[com.sforce.cd.apexUnit.ApexUnitRunner.main()] INFO com.sforce.cd.apexUnit.client.utils.ApexClassFetcherUtils - Using regex(es): * to fetch apex classes
[com.sforce.cd.apexUnit.ApexUnitRunner.main()] INFO com.sforce.cd.apexUnit.client.utils.ApexClassFetcherUtils - Using regex: "*" to fetch apex classes
Mar 09, 2016 8:24:43 AM org.apache.

[2016-03-09 14:15] tfuda commented on #11
@adarsh-ramakrishna-sfdc my session timeout value is 2 hours (http://screencast.com/t/k2aHYQcipU8). I kicked off a test run and took a screenshot of the sessions that were active: http://screencast.com/t/2iEUehOzsi while the tests were running. About 4 minutes into the execution of my tests, I got the following error:
[code]
Once that happened, the "API" session was no longer present in the list o

[2016-03-10 02:19] TedHusted commented on #32
Thanks, Adarsh. I appreciate the followup,

We don't use Jenkins anymore, but from
* https://github.com/forcedotcom/ApexUnit/wiki/Integrating-with-CI-pipeline

it sounds like we might want a link back to an index.html, but I don't see where a hard-link to ApexUnitReport.xml fits in. The location of the JUnit report file is specified in the configuration.

(1) Add "Publish HTML reports" step and po

[2016-03-10 02:21] TedHusted commented on #35
Thanks, Adarsh.

Is the roadmap something that you could share with the community?

[2016-03-10 19:56] adarsh-ramakrishna-sfdc commented on #35
Sure Ted. We will share the roadmap doc in a couple of weeks from now..

[2016-03-10 20:02] adarsh-ramakrishna-sfdc commented on #28
Hello @focadizUCSF  and @milters
We will have to close this issue if we do not hear back from you by 3/14 . Please let us know if you are still facing issues with the setup

[2016-03-10 23:05] focadizUCSF commented on #28
Hi @adarsh-ramakrishna-sfdc, @milters and I ran the tool using a different Salesforce org and it worked perfectly. We could see the report! However, in the sandbox with custom domain we couldn't make it work and tried changing multiple configurations for the user and the Connected App. A Salesforce engineer said that he would need to check the user and Connected app permissions because everything

[2016-03-10 23:32] adarsh-ramakrishna-sfdc commented on #28
Thanks @focadizUCSF . Glad to be of any help..
You might want to check the entries for redirect URL and connected app permission is definitely a candidate worth looking at.
I will close this issue for now. Please let us know if you face any other issues. Thanks

[2016-03-10 23:32] #28 closed

[2016-03-11 19:39] adarsh-ramakrishna-sfdc commented on #32
The information you shared from https://github.com/forcedotcom/ApexUnit/wiki/Integrating-with-CI-pipeline is specific to Jenkins and  to the plugins available on jenkins. If you do not use jenkins, the info's "Publish HTML reports" and "Publish JUnit test result report" will not be applicable to you as different CI systems will have different ways to publish report.
JUnit report(ApexUnitReport.xml

[2016-03-12 18:33] TedHusted commented on #32
Thanks for trying, Adarsh, but we're obviously talking past each other.
I'm not aware of a browser that will present an XML document as a "report", so a link from an HTML page to an XML document makes no sense to me. (Especially one that hard-codes the system path, which to me, is a security exception.)
For now, I'll just post-process the file to remove the link.
Again, I appreciate your responsiv

[2016-03-14 03:32] adarsh-ramakrishna-sfdc commented on #32
Thanks @TedHusted . I understood your concern now.. My apologies, it took so long! .. I am interested to know what would be your suggestion to make this link useful to everyone?

[2016-03-14 13:08] TedHusted commented on #32
I'm unclear on how it is useful when used with the Jenkins plugin.

Does the plugin transform the link so that it points to a HTML report instead of the XML report?

Maybe I just need to standup Jenkins again and try it in real life.

[2016-03-14 23:22] adarsh-ramakrishna-sfdc commented on #32
Yes, it works well with Jenkins plugin . Here's a screenshot of the web page that comes up when I click on the "Detailed Test Report" link..
![screen shot 2016-03-14 at 4 19 08 pm](https://cloud.githubusercontent.com/assets/15055627/13763084/ce6a0810-ea00-11e5-9aa0-47c59e2dd263.png)

[2016-03-17 22:50] vamshi-sfdc commented on #36
is this related to #11 @adarsh-ramakrishna-sfdc ?

[2016-03-18 06:26] adarsh-ramakrishna-sfdc commented on #36
@vamshi-sfdc  No. #11 is about Connection exception during SOQL execution and this is an issue with the query invocation using Tooling API during code coverage computation

[2016-03-22 23:54] vamshi-sfdc opened #39 "Update license headers in all source and config files"
update all source and config files to use short form of license header as shown in https://github.com/forcedotcom/ApexUnit/commit/83a83e2c1165b56cc3e5b3f07c9e18cdf0194a11

[2016-03-22 23:55] vamshi-sfdc commented on #39
Low priority. Using a IDE license wizard should do this in few mins

[2016-04-21 01:20] jineshkenandy opened #41 "Is there a limitation of 200 test classes?"
Hi,

I tried using ApexUnit for our app which has around 300+ test classes. The final report however shows 200 test classes executed. Is there any limitation on number of test classes that can be executed using ApexUnit?

Thanks,
Jinesh

[2016-04-21 19:12] adarsh-ramakrishna-sfdc commented on #41
Hello @jineshkenandy

There is no limit set on the # of test classes. Currently tests with 'default' namespace will be picked. If you have test classes belonging a different namespace, those will probably not be picked.
Also, We have a enhancement request to support different namespaces(Issue #23  ) . Let me know if you have any questions

[2016-06-22 18:35] Kxa422 opened #42 "No report XML or HTML created"
At the end of the test process, the following error appear and no XML or HTML reports are created

Jun 22, 2016 2:33:21 PM org.apache.commons.httpclient.HttpMethodDirector executeWithRetry
INFO: I/O exception (java.net.BindException) caught when processing request: Permission denied
Jun 22, 2016 2:33:22 PM org.apache.commons.httpclient.HttpMethodDirector executeWithRetry
INFO: Retrying request
Jun

[2016-06-23 18:37] adarshramakrishna commented on #41
@jineshkenandy  Please let me know if you have any questions. Closing this question for now. Thanks

[2016-06-23 18:37] #41 closed

[2016-06-23 21:24] adarsh-ramakrishna-sfdc commented on #32
@TedHusted Do you still have any questions? Please feel free to re-open this thread if you have any questions. Closing for now.

[2016-06-23 21:24] #32 closed

[2016-06-29 20:14] adarsh-ramakrishna-sfdc commented on #11
Provided Session renewer implementation as part of PR #38 and #43
Please use version 2.3.4 and update timeout settings in config.properties as needed

[2016-06-29 20:14] #11 closed

[2016-07-01 23:19] glang commented on #42
Hi @Kxa422 , are you still facing this issue?

[2016-07-01 23:40] glang commented on #36
Hi @13Rise , are you still facing this issue?

[2016-07-02 11:38] Kxa422 commented on #42
Bug is not solved

[2016-07-05 16:37] glang commented on #42
Hi @Kxa422 , I'll be looking into this for you. Can you provide as much detail as you can on how you are running ApexUnit?

[2016-07-05 18:26] Kxa422 commented on #42
I'm making a git clone of https://github.com/forcedotcom/ApexUnit.git

After that, I'm running the following from Maven
compile exec:java -Dexec.mainClass="com.sforce.cd.apexUnit.ApexUnitRunner" -Dexec.args=" -org.login.url https://na15.salesforce.com -org.username MyUser@MyDomain.com -org.password MyPasswordAndMySecurityToken -org.wide.code.coverage.threshold 75  -team.code.coverage.threshold 80

[2016-07-05 21:15] glang commented on #42
Looks like this could potentially be an OAuth setting issue. Could you run this line (replacing the items in the line with your maven arguments) in your terminal and report back?

curl -v <Salesforce_Org_URL>/services/oauth2/token -d "grant_type=password" -d "client_id=***************************************" -d "client_secret= **************" -d "username=***********" -d "password= *******"

[2016-07-05 21:39] Kxa422 commented on #42
* Adding handle: conn: 0x25b8ab0
* Adding handle: send: 0
* Adding handle: recv: 0
* Curl_addHandleToPipeline: length: 1
* - Conn 0 (0x25b8ab0) send_pipe: 1, recv_pipe: 0
* About to connect() to na15.salesforce.com port 443 (#0)
*   Trying 96.43.150.216...
* Connected to na15.salesforce.com (96.43.150.216) port 443 (#0)
* successfully set certificate verify locations:
*   CAfile: curl-ca-bundle.cr

[2016-07-05 23:08] glang commented on #42
Thanks, @Kxa422 . One thing that stands out to me if the "HTTP/1.1 400 Bad Request". Can you confirm that your credentials are setup correctly? Here is a guide that walks though the process.

[2016-07-06 13:56] Kxa422 commented on #42
Hello,

Credentials are working fine, if it was not the case the test cases were not submitted :-)
That issue could be related to Java version, if I'm using Java 8 on a local computer it's working as expected, if I'm using a server (Can't update that one) with Java 7, the error appear.

[2016-07-06 21:38] glang commented on #42
@Kxa422 Interesting. I will continue looking into this and let you know when I find something. You wouldn't happen to be a salesforce employee, would you?

[2016-07-12 00:16] glang commented on #42
@Kxa422 Does your password, username, or clientid happen to contain any special characters like '#', "$', or '%'? We recently discovered an issue with special characters.

[2016-07-12 18:01] glang opened #46 "Program crashes if password contains certain special characters"
A provided password that contains certain special characters would crash ApexUnit due to the fact that it is appended to a url string.

A fix that converts the password to an encoded password before appending it to the url string will be merged soon.

[2016-07-12 18:14] glang commented on #36
Hi @13Rise , just checking if you still have this issue.

[2016-07-12 18:33] adarsh-ramakrishna-sfdc commented on #46
related Pull request : #45

[2016-07-12 19:54] Kxa422 commented on #42
# is part of my password

[2016-07-12 20:15] glang commented on #42
@Kxa422 Ah, the bug with special characters may have played a role in your issue then. I have submitted a pull request for a fix and it should be merged before the end of the day. I'll let you know when that happens :)

[2016-07-14 22:22] adarsh-ramakrishna-sfdc commented on #21
Implementing the 'true' regex support would require finding a way to honor the regex patterns in the soql queries along with using the matching logic as mentioned by @tfuda . This will take more time to implement and unfortunately we don't have the bandwidth for this. However we would welcome the community to help and contribute to this enhancement request.

[2016-07-15 05:49] #46 closed

[2016-07-15 05:50] glang commented on #42
@Kxa422 The fix for the password encoding issue has been merged! Please try pulling the latest version of this project and let me know if that resolves your issue :)

[2016-07-15 18:25] Kxa422 commented on #42
No, the issue is still there

[2016-07-15 18:45] glang commented on #42
@Kxa422 Interesting. Would you mind running this curl command again:
curl -v <Salesforce_Org_URL>/services/oauth2/token -d "grant_type=password" -d "client_id=***************************************" -d "client_secret= **************" -d "username=***********" -d "password= *******"
But run it one time with your password as it is, and another time running your password after it has been encoded to

[2016-07-15 19:11] Kxa422 commented on #42
From Curl

* Adding handle: conn: 0x25a7fc0
* Adding handle: send: 0
* Adding handle: recv: 0
* Curl_addHandleToPipeline: length: 1
* - Conn 0 (0x25a7fc0) send_pipe: 1, recv_pipe: 0
* About to connect() to na15.salesforce.com port 443 (#0)
*   Trying 96.43.150.216...
* Connected to na15.salesforce.com (96.43.150.216) port 443 (#0)
* successfully set certificate verify locations:
*   CAfile: C:\Use

[2016-07-15 19:13] Kxa422 commented on #42
From the output

com.sforce.cd.apexUnit.ApexUnitRunner.main()] INFO com.sforce.cd.apexUnit.client.connection.PartnerConnectionConnectorConfig - Updated connection time out value(from config.properties file): 1200000
[com.sforce.cd.apexUnit.ApexUnitRunner.main()] INFO com.sforce.cd.apexUnit.client.utils.ApexClassFetcherUtils - Using regex(es): * to fetch apex classes
[com.sforce.cd.apexUnit.ApexUni

[2016-07-15 19:29] glang commented on #42
Great! Thanks for providing this info. So one fix that we have found for users that are running to the TLS issue is as you have deduced in a previous comment -- use Java 8. We recommend setting $JAVA_HOME to Java 8, and the TSL issue should be resolved. Just to be sure, you have pulled the latest version of this project, correct? One way to check is to see if in the pom.xml file, the version is no

[2016-07-15 23:59] adarsh-ramakrishna-sfdc commented on #13
@13Rise  Is this bug a duplicate of #36 ? I see the logs shared by you for both the bugs are very similar. Can you please confirm?

[2016-07-18 21:38] adarsh-ramakrishna-sfdc commented on #36
Hello @13Rise ,
We will close out this bug on July 21, 2016 if we don't hear back from you. We do not have steps to reproduce the issue . Please feel free to provide more info and re-open the bug if you continue to face the issue. Thanks

[2016-07-18 21:38] adarsh-ramakrishna-sfdc commented on #13
Hello @13Rise ,
We will close out this bug on July 21, 2016 if we don't hear back from you. We do not have steps to reproduce the issue . Please feel free to provide more info and re-open the bug if you continue to face the issue. Thanks

[2016-07-18 21:43] glang commented on #42
@Kxa422 Have you had the chance to check if using Java 8 resolved the issue?

[2016-07-19 08:32] Kxa422 commented on #42
I've used a java 1.8 on the server, still the same issue.
My guessing over here is that the code that is failing try to write in a folder without having permission to do so.
When I'm using it on a Windows machine, it's working fine, when I'm on the server (Linux), it's failing.

[2016-07-19 20:24] glang commented on #42
@Kxa422 Interesting. Would you be able to modify the permissions of the folders on your server and let us know if that resolves the issue when you get the chance to? :)

[2016-07-19 21:44] glang commented on #42
@Kxa422 Would you like for us to setup a time for a google hangout so that we could get to the bottom of the issue in one go, hopefully?

[2016-07-21 20:20] adarsh-ramakrishna-sfdc commented on #36
@13Rise Closing the bug for now. Please feel free to reopen the bug if you face this issue again

[2016-07-21 20:20] #36 closed

[2016-07-21 20:21] adarsh-ramakrishna-sfdc commented on #13
@13Rise  Closing the bug for now. Please feel free to reopen the bug if you face this issue again

[2016-07-21 20:21] #13 closed

[2016-07-29 21:36] #39 closed

[2016-08-01 18:37] glang commented on #22
Hi @tfuda, I've been looking into this enhancement and what I found is that as long as a class contains a non-test method, which is a method that is not declared with the keyword 'testmethod', code coverage will be computed for those non-test method lines and only those lines. If there is a class with just test methods, no code coverage will be computed for it. When a class contains both test meth

[2016-08-02 17:42] #42 closed

[2016-08-02 17:51] tfuda commented on #22
Well, in our org, we usually annotate entire classes with @IsTest, but often classes annotated in this fashion will include methods that are NOT declared with the testMethod modifier. This is because our test classes often include utility methods that are use in creating scaffold data for the test methods within the class. I guess my hope was that we could somehow exclude the entire class from cod

[2016-08-03 17:32] glang commented on #22
Hi @tfuda , I see what you mean and this is something that others have brought up in the past as well. Unfortunately, according the Apex documentation, classes annotated with @isTest should only contain test methods. Here is a response from salesforce to a similar query as yours that you may find helpful: https://help.salesforce.com/apex/HTViewSolution?urlname=Why-is-a-Test-class-evaluated-as-part

[2016-08-03 17:32] #22 closed

[2016-11-01 19:24] vamshi-sfdc opened #52 "Junit test report xml to generate test duration in xml"
https://github.com/forcedotcom/ApexUnit/blob/master/src/main/java/com/sforce/cd/apexUnit/report/ApexUnitTestReportGenerator.java should be enhanced to report , such that this information is parsable by the junit report parser plugin to render the data in jenkins

1) duration of each test case
2) duration of overall run

[2016-12-03 05:39] adarshramakrishna commented on #23
@Team
Do we wish to support this functionality? In java world, we won't run the tests in a 3rd party library.
Is there is possibility that a team/product creates 2 packages(codes owned by them) with possibly 2 namespaces?
@vamshi-sfdc @awillia2

[2016-12-03 05:42] adarshramakrishna commented on #35
@TedHusted sorry for not being able to get back on this in time. Currently, the goal is to work on open issues(bugs and enhancements) .

[2016-12-05 22:54] vamshi-sfdc commented on #23
@pmedapuram i believe this was from a perspective to enqueue tests within a managed package. Can you share more background on the desired goal?

[2017-01-19 23:18] aabrego commented on #21
I see some scenarios where the true REGEX support can become very useful. I will start working on this one step at a time ...

[2017-01-27 17:52] #52 closed

[2017-02-07 16:18] pautaran opened #60 "java.net.UnknownHostException"
Hi!
I'm facing UnknownHostException. Do you have any ideas why this is happening?

[code]

[2017-02-07 16:47] awillia2 commented on #60
@pautaran would you post the output of running mvn in verbose mode which might help to show more info on why the host on cs42 was having this exception.

[2017-02-07 17:00] vamshi-sfdc commented on #60
Are you able to ping / telnet to the endpoint if you are behind a firewall?

On Feb 7, 2017 8:47 AM, "Alexis Williams" <notifications@github.com> wrote:

[2017-02-09 09:55] pautaran commented on #60
@vamshi-sfdc
Yes, I'm able to ping the endpoint.

@awillia2
This is what I got in debug mode:
[code]

[2017-03-01 19:49] vamshi-sfdc commented on #60
@pautaran Did you override the proxy host and port shared as optional parameters in https://github.com/forcedotcom/ApexUnit/blob/master/README.md ?  Unless I am missing some details, this does not seem to be an issue with the tool.

[2017-03-09 04:36] roby-handinhand opened #61 "Unable to report for greater than 200 classes"
Currently ApexUnit submits the specified test classes to the org and returns a single parent job Id. Async Apex jobs have a max of 200 apex classes, which means when ApexUnit submits >200 classes, those are submitted as multiple async jobs. ApexUnit only returns 1 job Id, so it only reports on the results of the 200 classes submitted as part of the first job. The rest of the tests are actually exe

[2017-03-10 08:01] vamshi-sfdc commented on #61
@adarsh-ramakrishna-sfdc can you please confirm this limitation on the reporting module?

[2017-03-10 18:27] adarshramakrishna commented on #61
I have seen this question before as well. https://github.com/forcedotcom/ApexUnit/issues/41 . Since the user did not follow up with us, we weren't sure if it was related to multiple namespaces in use. Now that we have this bug, Seems like the test execution batch can only take in 200 tests at a time. We need to test this out. We might need to look into the option of creating multiple batches of 20

[2017-03-10 18:44] robymathew commented on #61
If it helps, I created a fork of ApexUnit that submits classes in batches of 200 (if there are >200 classes). I don't think it's ideal though since it submits these jobs synchronously - I think this can be done async: https://github.com/robymathew/ApexUnit

[2017-03-10 18:53] adarshramakrishna commented on #61
Thanks @roby-handinhand . Can you please point us to the commit ?

[2017-03-10 19:26] robymathew commented on #61
Sure, this is the fix.

https://github.com/robymathew/ApexUnit/commit/4682a4d735a08848cffb7a1f2e585f763120b14d#diff-854284a1d1b65757ef0a9dc16c1a442fL23

I added a couple of commits after to address reporting and logging. Here are all the commits:

https://github.com/robymathew/ApexUnit/commits/batchFix

[2017-03-13 23:01] roby-handinhand opened #62 ""Request-URI Too Long" error when calculating code coverage"
I am running into this error when ApexUnit is trying to calculate the cove coverage from the manifest file specified. I'm assuming it's because we have 100's of classes in the manifest file. Here's a snippet from the log:

[com.sforce.cd.apexUnit.ApexUnitRunner.main()] INFO com.sforce.cd.apexUnit.client.fileReader.ApexManifestFileReader - Reading from Manifest files: sourceClasses.txt
[com.sforce.

[2017-03-14 03:09] alexiswilliams commented on #62
blockquote, div.yahoo_quoted { margin-left: 0 !important; border-left:1px #715FFA solid !important; padding-left:1ex !important; background-color:white !important; } I will setup a meeting with you to get details about the job running the build and depot. 

Sent from Yahoo Mail for iPhone

On Monday, March 13, 2017, 7:01 PM, roby-handinhand <notifications@github.com> wrote:

I am running into this

[2017-06-14 16:41] vamshi-g commented on #62
@alexiswilliams is this triaged?

[2017-06-14 16:43] vamshi-g commented on #61
@adarshramakrishna what are the next steps to close the loop on this? If you do not wish to look into this please share the same

[2017-06-14 17:41] awillia2 commented on #62
Yes, we have a bug to track this issue internally.

On Mon, Mar 13, 2017 at 7:01 PM, roby-handinhand <notifications@github.com>
wrote:

[2017-06-15 15:09] adarshramakrishna commented on #61
@vamshi-g We can have a PR for this and go from there. I have put in few comments for robymathew's commit. You have any other approach in mind?
@robymathew   can you please create a PR with your commit for this issue?

[2017-06-15 15:46] vamshi-sfdc commented on #61
@Adarsh: are you waiting for PR initiation or modifications on a current t
PR?

On Jun 15, 2017 8:09 AM, "Adarsh" <notifications@github.com> wrote:

@vamshi-g <https://github.com/vamshi-g> We can have a PR for this and go
from there. I have put in few comments for robymathew's commit. You have
any other approach in mind?
@robymathew <https://github.com/robymathew> can you please create a PR with
y

[2017-06-15 16:04] adarshramakrishna commented on #61
@vamshi-g  we do not have a PR for this yet in https://github.com/forcedotcom/ApexUnit/pulls
robymathew has modified the code in this fork of the project. We need a new PR for this

[2017-06-16 03:49] roby-handinhand commented on #61
Hey @adarshramakrishna - this was fixed a while back in the ApexUnit repo by @rduvvarapu - it looks like he took the gist of my fix and used it to create a fix in master.

Here's the commit:
https://github.com/forcedotcom/ApexUnit/commit/e63ff5d420e6831892737423154df6e594c2ec1c

[2017-06-16 03:54] roby-handinhand commented on #62
FYI @awillia2 - I committed a fix for this to my fork of the repo here if you'd like to have a look, I simply batched up classes into groups of 100 (if there were > 100) for code coverage queries.

https://github.com/robymathew/ApexUnit/commit/12fc46cf63b8408cb493151f75bab1c898f3d9c4

Thanks,
Roby

[2017-07-21 18:11] dieffrei opened #64 "Unknow Exception"
com.sforce.cd.apexUnit.ApexUnitRunner.main()] ERROR com.sforce.cd.apexUnit.ApexUnitUtils - Connection Exception encountered  The connection exception description says : null Object dump for the Connection object: <null>
[com.sforce.cd.apexUnit.ApexUnitRunner.main()] INFO com.sforce.cd.apexUnit.ApexUnitUtils - Shutting down ApexUnit
java.lang.Exception: Stack trace
	at java.lang.Thread.dumpStack(Th

[2017-07-22 17:35] dieffrei opened #65 "Destination URL not reset. The URL returned from login must be set"
com.sforce.cd.apexUnit.ApexUnitRunner.main()] INFO com.sforce.cd.apexUnit.client.utils.ApexClassFetcherUtils - Using regex(es): ZT* to fetch apex classes
[com.sforce.cd.apexUnit.ApexUnitRunner.main()] INFO com.sforce.cd.apexUnit.client.utils.ApexClassFetcherUtils - Using regex: "ZT*" to fetch apex classes
[com.sforce.cd.apexUnit.ApexUnitRunner.main()] INFO com.sforce.cd.apexUnit.client.testEngine.

[2017-07-24 22:57] ksiu opened #66 "Connection exception during test execution"
When running a moderate number of tests (e.g. 173), the following exception occurs:
22:02:39 INFO  c.s.c.a.c.TestStatusPollerAndResultHandler - Total tests executed 93 , Remaining tests 80
22:02:39 INFO  c.s.c.a.c.TestStatusPollerAndResultHandler - Now executing the test class: *** (https://***/****** ) Status : Queued
22:04:01 ERROR com.sforce.cd.apexUnit.ApexUnitUtils - Connection exception enco

[2017-08-25 12:34] mfall0505 opened #67 "integrate ApexUnit with concourse for salesforce test report"
Hello we are trying to integrate ApexUnit with concourse to generate xml report for our pipeline.
Does Anyone have an idea how to integrate it

[2018-02-02 23:11] vamshi-sfdc commented on #66
Hi @ksiu can you please share the steps on how to reproduce this issue?

@adarsh-ramakrishna-sfdc I do not recall this issuing earlier. Do you think he is missing something?

[2018-02-02 23:13] vamshi-sfdc commented on #65
@adarsh-ramakrishna-sfdc this seems like an error related to missing mandatory field by the end user. Can you please confirm?

[2018-02-02 23:14] vamshi-sfdc commented on #64
@dieffrei can you please share more details on how to reproduce this issue?

[2018-02-02 23:49] adarsh-ramakrishna-sfdc commented on #65
Looks like Connected App setup issue and not an issue with argument provided by the user.

@dieffrei  Does this command `curl -v <Salesforce_Org_URL>/services/oauth2/token -d "grant_type=password" -d "client_id=*CLIENT_ID_GOES_HERE*" -d "client_secret= *CLIENT_SECRET_GOES_HERE*" -d "username=*yourusername@yourdomain.com*" -d "password= *your_password_goes_here+*` return you access_token ? This ens

[2018-02-02 23:56] adarsh-ramakrishna-sfdc commented on #66
@vamshi-sfdc  It might be the case of one of the tests taking a long time and connection getting dropped off. We introduced the cli option -max.test.execution.time.threshold to handle this.

@ksiu Can you try adding -max.test.execution.time.threshold cli option and run the tool? I suggest trying with 1-2 minutes.

Here is the description for this cli option:
-max.test.execution.time.threshold : Ma

[2018-02-06 00:13] vamshi-sfdc commented on #21
@aabrego have you had a chance to look into this? Please let us know

[2018-03-19 17:10] kemuning opened #70 "Log level to DEBUG"
I changed the the log level to "debug" on the logback.xml :
[code]

but nothing happen on the console when I run the mvn compile ... All I see is just the INFO.

Any idea ?

[2018-03-20 08:15] kemuning commented on #70
This is weird ... even if I remove the logback.xml from src/main/resources, I still can't see the debug log on the console.

According to logback manual :

[code]
Any help please ?

[2018-07-24 13:51] damiendurant commented on #65
I got  the same issue, and the curl command return me an access token :
`{"access_token":"XXXXXXXXXX.","instance_url":"https://XXXXXXXX.my.salesforce.com","id":"https://test.salesforce.com/id/00D6E00000099OAUAY/005b0000001rRONAA2","token_type":"Bearer","issued_at":"1532439892141","signature":"XXXXXXXXXXXX"}`

[2018-07-26 14:04] damiendurant commented on #70
Hi,

Debug logs work when you launch mvn with debug option (-X)

[2018-07-26 14:30] damiendurant opened #73 "Can't fetch Code coverage"
Hi,

I execute my run from jenkins cli, with the following commande line :
 `mvn -X compile exec:java -Dexec.mainClass="com.sforce.cd.apexUnit.ApexUnitRunner" -Dexec.args="-max.test.execution.time.threshold 2 -regex.for.selecting.source.classes.for.code.coverage.computation RSales*_SearchAccount_CTRL -regex.for.selecting.test.classes.to.execute RSalesST_SearchAccount_CTRL_Te*  -org.login.url https

[2018-10-23 03:36] KThompso commented on #21
Has there been any movement on this issue?  I have a use for this feature and would be willing to provide support if it's being worked on -- or implement it if it's not.

[2018-10-23 04:05] aabrego commented on #21
No progress on this one and no plans on working on it for now due to other
prorities. Volunteers are welcome.Thanks!

On Mon, Oct 22, 2018, 8:36 PM KThompso <notifications@github.com> wrote:

[2018-12-03 15:09] damiendurant commented on #73
Hi,

I have found the root cause of the issue. It's related to proxy configuration. Proxy settings are not used for code coverage compute. This is due to \src\main\java\com\sforce\cd\apexUnit\client\codeCoverage\WebServiceInvoker.java classe that instanciate httpclient without taking care of proxy.

I debug this setting :

in both method that instanciate httpclient.

How can we fix this quickly ?

[2018-12-11 16:48] pawanpatel85 opened #76 "Connection Problem"
[INFO] Scanning for projects...
[WARNING] The project com.sforce.cd.ApexUnit:ApexUnit-core:jar:2.3.6 uses prerequisites which is only intended for maven-plugin projects but not for non maven-plugin projects. For such purposes you should use the maven-enforcer-plugin. See https://maven.apache.org/enforcer/enforcer-rules/requireMavenVersion.html
[INFO]
[INFO] ----------------< com.sforce.cd.ApexUnit

[2018-12-11 20:02] pawanpatel85 commented on #76
Here is full Console Output
-------------------------------------------------------------------------------------------------------------------

Started by user pawan
Building in workspace C:\Program Files (x86)\Jenkins\workspace\Test

Fetching changes from the remote Git repository

Fetching upstream changes from https://github.com/xxxxxxxxxxxx/ApexUnit.git

Checking out Revision 2402f2e2851eb589

[2018-12-12 20:17] pawanpatel85 commented on #76
Ok so i had Security Token issue, so I added my ip in network access in salesforce to bypass security token. still there is problem regarding security token.. here is debug log

-------------------------------------------------------------------------------------------------------------------

[com.sforce.cd.apexUnit.ApexUnitRunner.main()] DEBUG com.sforce.cd.apexUnit.client.codeCoverage.CodeCover

[2018-12-12 20:39] pawanpatel85 commented on #76
[log.zip](https://github.com/forcedotcom/ApexUnit/files/2673443/log.zip)
here is log file i've attached.

[2018-12-12 21:07] pawanpatel85 commented on #76
Ok I have resolve this issue with help of this Knowledge Article in salesforce.

'Failed: Not approved for access' error

Knowledge Article Number | 000212208
-- | --
After entering credentials and attempting to login to Salesforce, the API user is denied access to the application and is typically accompanied by a Login History Status of "Failed: Not approved for access".
This issue is caused when

[2018-12-12 21:07] #76 closed

[2018-12-12 21:08] pawanpatel85 commented on #76
Issue is resolved.

[2018-12-13 14:44] pawanpatel85 opened #77 "Detailed Test Report link in report redirect wrongly"
So I have successfully build ApexUnit and Reports are generated. but somehow when i click on "Detailed Test Report" it doesn't redirect page to correct apexunitreport.xml,  instead it takes <a style="font-size:125%" ; href="C:\Program" files (x86)\jenkins\workspace\apexunittest\apexunitreport.xml>Detailed Test Report</a>

So basically it's redirecting me to "C:\Program"
![detailed test report wron

[2018-12-17 19:35] vamshi-sfdc commented on #73
@rduvvarapu can you please review this issue and the proposed PR? mvn CLI options suggested https://medium.com/@petehouston/execute-maven-behind-a-corporate-proxy-network-5e08d075f744 could also be helpful. I am unsure if @damiendurant has given it a try

[2018-12-17 22:09] rduvvarapu commented on #73
@damiendurant Can you please confirm whether you tried mvn CLI option for proxy

[2018-12-18 08:16] damiendurant commented on #73
Hi, @rduvvarapu

mvl cli option didn't work, it provide the same error message.
In any case, what the point of providing a proxy option on the tool if it work only at 50%.

[2018-12-19 16:52] rduvvarapu commented on #73
Thank you @damiendurant, will review and provide you updates.

[2018-12-20 06:32] #73 closed

[2018-12-20 06:33] dragon0556 commented on #61
This issue is fixed.

[2018-12-20 06:36] dragon0556 commented on #62
This issue is fixed.

[2018-12-20 06:36] #62 closed

[2018-12-20 06:36] #61 closed

[2020-04-30 14:48] daverubens opened #81 "Problem with Cookie Domain"
Hello - long time user first time issue reporter here.

I am having an issue that _appears_ to be identical to an issue that was closed a few years ago: Issue #28 .  I'm receiving the following error in running my tests:

`WARNING: Cookie rejected: "$Version=0; BrowserId=****YrlEeqX0oUZgzlGmg; $Path=/; $Domain=.salesforce.com". Domain attribute ".salesforce.com" violates RFC 2109: host minus domai